In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import os
import shutil

Primero descomprimiremos el archivo que tiene los archivos csv

Utilizando la libreia shutil

shutil.unpack_archive('socialnetworks.zip', 'REDES_SOCIALES')

Lo que hicimos fue descomprimir el archivo con el nombre de REDES_SOCIALES

Ahora lo que haremos, sera recorrer los archivos que descomprimimos y buscamos los que tengan el a√±o 2022

In [16]:
ruta_zip = 'C:\\Users\\ykzgo\\Desktop\\PrograProject\\socialnetworks.zip'
ruta_destino = 'C:\\Users\\ykzgo\\Desktop\\PrograProject'

shutil.unpack_archive(ruta_zip,ruta_destino)
patron = r'2022'
archivos_econtrados_mes = []
archivos_econtrados_sin_mes = []

In [17]:
# Recoreremos cada carpeta

for carpeta, subcarpetas, archivos in os.walk(ruta_destino):
    for archivo in archivos:
        ruta_completa = os.path.join(carpeta, archivo)
        
        if archivo.endswith('.csv'):
            # Verificar si el archivo tiene una fecha en su nombre
            fecha_encontrada = re.search(patron, archivo)
            
            if fecha_encontrada:
                archivos_econtrados_mes.append(ruta_completa)
            else:
                archivos_econtrados_sin_mes.append(ruta_completa)

In [18]:
len(archivos_econtrados_mes)

12

In [19]:
len(archivos_econtrados_sin_mes)
archivos_econtrados_sin_mes

['C:\\Users\\ykzgo\\Desktop\\PrograProject\\socialnetworks\\social media influencers - instagram.csv',
 'C:\\Users\\ykzgo\\Desktop\\PrograProject\\socialnetworks\\social media influencers - tiktok.csv',
 'C:\\Users\\ykzgo\\Desktop\\PrograProject\\socialnetworks\\social media influencers - youtube.csv']

Ya que tenemos los archivos separados en un arreglo, los podemos abrir en los dataframes que nos piden

In [26]:
Instagram = []
Patron_Insta = r'INSTAGRAM|instagram|Instagram'

Tik_tok = []
Patron_Tik_tok = r'TIKTOK|tiktok|Tiktok'

Youtube = []
Patron_Youtube = r'Youtube|youtube|YOUTUBE'

In [27]:
# Haremos una funcion que encuentre los patrones que le pasemos en unn arreglo
# Y los guarde en cierto arreglo, para que sea mas facil hacer los dataframes

def patrones(arreglo, patron, arreglo_para_guardar):
    for i in arreglo:
        r = re.search(patron, i)
        if r:
            arreglo_para_guardar.append(i)

In [28]:
patrones(archivos_econtrados_mes, Patron_Insta, Instagram)
patrones(archivos_econtrados_mes, Patron_Tik_tok, Tik_tok)
patrones(archivos_econtrados_mes, Patron_Youtube, Youtube)

Ya que tenemos todos los archivos de las redes socuales por separado, abriremos los dataframes que no tienen fecha

In [99]:
df_Insta_s_f = pd.read_csv('C:\\Users\\ykzgo\\Desktop\\PrograProject\\socialnetworks\\social media influencers - instagram.csv')
df_Tik_tok_s_f = pd.read_csv('C:\\Users\\ykzgo\\Desktop\\PrograProject\\socialnetworks\\social media influencers - tiktok.csv')
df_Youtube_s_f = pd.read_csv('C:\\Users\\ykzgo\\Desktop\\PrograProject\\socialnetworks\\social media influencers - youtube.csv')

In [100]:
Instagram

['C:\\Users\\ykzgo\\Desktop\\PrograProject\\socialnetworks\\social media influencers - instagram sep-2022.csv',
 'C:\\Users\\ykzgo\\Desktop\\PrograProject\\socialnetworks\\social media influencers-INSTAGRAM - -DEC 2022.csv',
 'C:\\Users\\ykzgo\\Desktop\\PrograProject\\socialnetworks\\social media influencers-instagram - -nov 2022.csv',
 'C:\\Users\\ykzgo\\Desktop\\PrograProject\\socialnetworks\\social media influencers-instagram june 2022 - june 2022.csv']

In [101]:
dataframes = []
for ruta_archivo in Instagram:
    df = pd.read_csv(ruta_archivo)
    dataframes.append(df)

# Concatenar los DataFrames en un solo DataFrame
df_Insta = pd.concat(dataframes, axis=0, ignore_index=True)

# Realizar cualquier procesamiento adicional en el DataFrame final
# ...

# Verificar el DataFrame resultante
df_Insta.tail()

,S.no,Instagram name,Name,Subscribers,Audience country,Authentic engagement\n,Engagement average\r\n,Category_1,Category_2,Rank,...,Instagram Name,Category-1,Followers,\nCountry,Category-2,influencer name,Subscribers count,Views avg.,Likes avg,Comments avg.
4067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sports with a ball,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,zidane,33M,Spain,412.4K,560.8K
4068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sports with a ball,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,zidane,33M,Spain,412.4K,560.8K
4069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Music,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,KAI,14.1M,Indonesia,1.4M,1.7M
4070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sports with a ball,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Lonzo Ball,14M,United States,145.8K,262K
4071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cinema & Actors/actresses,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,ZoeÃà Kravitz,8.5M,United States,342.4K,519.3K

In [102]:
dataframes = []
for ruta_archivo in Tik_tok:
    df = pd.read_csv(ruta_archivo)
    dataframes.append(df)

# Concatenar los DataFrames en un solo DataFrame
df_Tik_tok = pd.concat(dataframes, axis=0, ignore_index=True)

# Realizar cualquier procesamiento adicional en el DataFrame final
# ...

# Verificar el DataFrame resultante
df_Tik_tok.tail()

,S.no,Tiktoker name,Tiktok name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.,Rank,followers,...,\nFollowers,Views (Avg.),Likes (Avg.),Comments (Avg.),Shares (Avg.),Tiktoker,influencer name,Subscribers count,Likes avg,Shares avg
4003,NaN,NaN,NaN,NaN,6.7M,NaN,3K,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,zeth,Zeth,12.5M,1.3M,7.7K
4004,NaN,NaN,NaN,NaN,1.9M,NaN,6.8K,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,zodiac.boyfriend,Zodiac Boyfriendü™êüîÆ,1.8M,272.7K,3.6K
4005,NaN,NaN,NaN,NaN,1.4M,NaN,1.4K,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,zowloficial,Lord Zowl,1.1M,178.1K,2.1K
4006,NaN,NaN,NaN,NaN,2.3M,NaN,1.7K,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,zrt.foot,ZR7,100.8K,218K,6.4K
4007,NaN,NaN,NaN,NaN,1.9M,NaN,1.3K,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,zubarefff,–ó—É–±–∞—Ä–µ–≤ –ê–ª–µ–∫—Å–∞–Ω–¥—Ä,4M,249K,1.6K

In [154]:
dataframes = []
for ruta_archivo in Youtube:
    df = pd.read_csv(ruta_archivo)
    dataframes.append(df)

# Concatenar los DataFrames en un solo DataFrame
df_Youtube = pd.concat(dataframes, axis=0, ignore_index=True)

# Realizar cualquier procesamiento adicional en el DataFrame final
# ...

# Verificar el DataFrame resultante
df_Youtube.tail()

,S.no,Name,Youtuber,Country,Subscribers,Category_2,Avg. views\r\n,Avg. likes,Avg Comments,Category_3,...,\nViews (Avg.),Likes (Avg.),Comments (Avg.),Category-2,channel name,youTuber,Subscribers count,Views avg.,Likes avg,Comments avg.
4066,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Power Vision,Power Vision,9.5M,137.3K,1.3K,39
4067,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,POPSVIETNAM,POPS MUSIC,9.5M,4.6K,144,5
4068,NaN,NaN,NaN,United States,NaN,Humor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Niki and Gabi,Niki and Gabi,9.5M,387.6K,17.8K,516
4069,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Corridor,Corridor,9.5M,1.9M,141.6K,4.7K
4070,NaN,NaN,NaN,United States,NaN,Humor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,JoshDub,JoshDub,9.5M,713.6K,35.4K,1.2K

In [34]:
df_Insta.shape

(4072, 28)

In [35]:
df_Insta.head(5)

,S.no,Instagram name,Name,Subscribers,Audience country,Authentic engagement\n,Engagement average\r\n,Category_1,Category_2,Rank,...,Instagram Name,Category-1,Followers,\nCountry,Category-2,influencer name,Subscribers count,Views avg.,Likes avg,Comments avg.
0,1.0,cristiano,Cristiano Ronaldo,477.9M,India,5M,6.2M,Sports with a ball,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,kyliejenner,Kylie ü§ç,368.1M,United States,3.5M,5.5M,Fashion,Modeling,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,arianagrande,Ariana Grande,329.6M,United States,2.9M,4M,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,leomessi,Leo Messi,358.6M,Indonesia,2.7M,3.5M,Sports with a ball,Family,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,zendaya,Zendaya,151.1M,United States,4.3M,5.8M,Cinema & Actors/actresses,Fashion,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df_Insta_s_f.head()

,Influencer insta name,instagram name,category_1,category_2,Followers,Audience country(mostly),Authentic engagement\r\n,Engagement avg\r\n
0,433,433,Sports with a ball,NaN,48.5M,Spain,383.1K,637K
1,__youngbae__,TAEYANG,Music,NaN,12.7M,Indonesia,478K,542.3K
2,_agentgirl_,–ù–ê–°–¢–Ø –ò–í–õ–ï–ï–í–ê,Shows,NaN,18.8M,Russia,310.8K,377.9K
3,_imyour_joy,Joy,Lifestyle,NaN,13.5M,Indonesia,1.1M,1.4M
4,_jeongjaehyun,Jaehyun,NaN,NaN,11.1M,Indonesia,2.5M,3.1M

In [37]:
df_Tik_tok.head(1)

,S.no,Tiktoker name,Tiktok name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.,Rank,followers,...,\nFollowers,Views (Avg.),Likes (Avg.),Comments (Avg.),Shares (Avg.),Tiktoker,influencer name,Subscribers count,Likes avg,Shares avg
0,1.0,jypestraykids,Stray Kids,13.8M,6.4M,2.3M,50.2K,34.2K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
# DataFrame sin limpieza
df_Youtube

,S.no,Name,Youtuber,Country,Subscribers,Category_2,Avg. views\r\n,Avg. likes,Avg Comments,Category_3,...,\nViews (Avg.),Likes (Avg.),Comments (Avg.),Category-2,channel name,youTuber,Subscribers count,Views avg.,Likes avg,Comments avg.
0,1.0,T-Series,tseries,India,224.4M,Music & Dance,141.5K,4.6K,125,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Cocomelon - Nursery Rhymes,checkgate,NaN,142.5M,Education,12.5M,64.8K,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,PewDiePie,PewDiePie,United States,111.6M,Animation,1.9M,130.5K,7.4K,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,MrBeast,MrBeast6000,United States,104.1M,Video games,44.8M,2.2M,70.9K,Humor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,‚úø Kids Diana Show,‚úø Kids Diana Show,NaN,100.5M,Animation,6.9M,34.8K,0,Toys,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4066,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Power Vision,Power Vision,9.5M,137.3K,1.3K,39
4067,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,POPSVIETNAM,POPS MUSIC,9.5M,4.6K,144,5
4068,NaN,NaN,NaN,United States,NaN,Humor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Niki and Gabi,Niki and Gabi,9.5M,387.6K,17.8K,516
4069,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Corridor,Corridor,9.5M,1.9M,141.6K,4.7K
4070,NaN,NaN,NaN,United States,NaN,Humor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,JoshDub,JoshDub,9.5M,713.6K,35.4K,1.2K

In [156]:
# Limpieza de YouTube

# Username
df_Youtube['Username'] = df_Youtube['Youtuber'].combine_first(df_Youtube['channel name']).combine_first(df_Youtube['youTuber']).combine_first(df_Youtube['youtuber name']).combine_first(df_Youtube['Youtube channel'])

In [157]:
df_Youtube.drop(['Youtuber', 'channel name', 'youTuber','youtuber name','Youtube channel'],axis=1,inplace=True)

In [158]:
# Subscribers
df_Youtube['Subscribers'] = df_Youtube[' Subscribers'].combine_first(df_Youtube['Followers']).combine_first(df_Youtube['Subscribers count'])

In [159]:
df_Youtube.drop([' Subscribers', 'Followers', 'Subscribers count'],axis=1,inplace=True)

In [160]:
# Views
df_Youtube['Views'] = df_Youtube['Avg. views\r\n'].combine_first(df_Youtube['\nViews (Avg.)']).combine_first(df_Youtube['Views avg.'])

In [161]:
df_Youtube.drop(['Avg. views\r\n', '\nViews (Avg.)', 'Views avg.'],axis=1,inplace=True)

In [162]:
# Likes
df_Youtube['Likes'] = df_Youtube['Avg. likes'].combine_first(df_Youtube['Likes (Avg.)']).combine_first(df_Youtube['Likes avg'])

In [163]:
df_Youtube.drop(['Avg. likes', 'Likes (Avg.)', 'Likes avg'],axis=1,inplace=True)

In [164]:
# Comments
df_Youtube['Comments'] = df_Youtube['Avg Comments'].combine_first(df_Youtube['Comments (Avg.)']).combine_first(df_Youtube['Comments avg.'])

In [165]:
df_Youtube.drop(['Avg Comments', 'Comments (Avg.)', 'Comments avg.'],axis=1,inplace=True)

In [166]:
# Category1
df_Youtube['Category1'] = df_Youtube['Category'].combine_first(df_Youtube['Category_3'])

In [167]:
df_Youtube.drop(['Category', 'Category_3'],axis=1,inplace=True)

In [168]:
# Category2
df_Youtube['Category2'] = df_Youtube['Category_2'].combine_first(df_Youtube['Category-2'])

In [169]:
df_Youtube.drop(['Category_2', 'Category-2'],axis=1,inplace=True)

In [170]:
# Eliminacion de columnas que no queremos
df_Youtube.drop(['s.no', 'S.no'],axis=1,inplace=True)

In [171]:
df_Youtube

,Name,Country,Username,Subscribers,Views,Likes,Comments,Category1,Category2
0,T-Series,India,tseries,224.4M,141.5K,4.6K,125,NaN,Music & Dance
1,Cocomelon - Nursery Rhymes,NaN,checkgate,142.5M,12.5M,64.8K,0,NaN,Education
2,PewDiePie,United States,PewDiePie,111.6M,1.9M,130.5K,7.4K,NaN,Animation
3,MrBeast,United States,MrBeast6000,104.1M,44.8M,2.2M,70.9K,Humor,Video games
4,‚úø Kids Diana Show,NaN,‚úø Kids Diana Show,100.5M,6.9M,34.8K,0,Toys,Animation
...,...,...,...,...,...,...,...,...,...
4066,NaN,United States,Power Vision,9.5M,137.3K,1.3K,39,NaN,NaN
4067,NaN,United States,POPSVIETNAM,9.5M,4.6K,144,5,Music & Dance,NaN
4068,NaN,United States,Niki and Gabi,9.5M,387.6K,17.8K,516,Fashion,Humor
4069,NaN,United States,Corridor,9.5M,1.9M,141.6K,4.7K,Animation,NaN
4070,NaN,United States,JoshDub,9.5M,713.6K,35.4K,1.2K,Animation,Humor

In [172]:
# Seguimos con la limpieza...
df_Youtube=df_Youtube.dropna()

In [174]:
df_Youtube = df_Youtube.drop_duplicates()

In [175]:
# DATAFRAME LIMPIO
df_Youtube

,Name,Country,Username,Subscribers,Views,Likes,Comments,Category1,Category2
3,MrBeast,United States,MrBeast6000,104.1M,44.8M,2.2M,70.9K,Humor,Video games
12,Sony SAB,India,sabtv,71.7M,61.7K,924,18,Animation,Movies
21,Movieclips,United States,movieclips,57.8M,18.8K,181,11,Animation,Movies
27,EminemMusic,United States,EminemMusic,53.3M,1.6M,90.6K,5.3K,Animation,Movies
33,YRF,India,yrf,48.2M,67.2K,3.4K,19,Movies,Music & Dance
...,...,...,...,...,...,...,...,...,...
947,Miniminter,United Kingdom,miniminter,10.2M,1.2M,77.1K,1.3K,Humor,Video games
981,Mari Maria,Brazil,makebymarimaria,10M,78.7K,4.5K,170,DIY & Life Hacks,Fashion
984,Shruti Arjun Anand,India,shrutiarjunanand,9.9M,616.6K,13.2K,625,Humor,Movies
988,QPark,United States,joycetanner,9.9M,197.6K,13.8K,219,Humor,Music & Dance
996,Ini Talk Show,Indonesia,IniTalkShow,9.9M,25.2K,290,17,Humor,Music & Dance

In [38]:
df_Tik_tok['Username'] = df_Tik_tok['Tiktok name'].combine_first(df_Tik_tok['Tiktoker']).combine_first(df_Tik_tok['influencer name'])

In [39]:
df_Tik_tok.drop(['Tiktok name', 'Tiktoker', 'influencer name'],axis=1,inplace=True)

In [40]:
df_Tik_tok.head(2)

,S.no,Tiktoker name,Subscribers,Views avg.,Likes avg.,Comments avg.,Shares avg.,Rank,followers,views(avg),...,row-cell,\nFollowers,Views (Avg.),Likes (Avg.),Comments (Avg.),Shares (Avg.),Subscribers count,Likes avg,Shares avg,Username
0,1.0,jypestraykids,13.8M,6.4M,2.3M,50.2K,34.2K,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stray Kids
1,2.0,khaby.lame,149.2M,17.3M,2.3M,15.2K,8.7K,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Khabane lame

In [41]:
df_Tik_tok['Username'].combine_first(df_Tik_tok['Tiktoker name'])
df_Tik_tok.drop(['Tiktoker name'], axis=1, inplace=True)

In [42]:
df_Tik_tok.drop(['S.no'], axis=1,inplace=True)

In [43]:
df_Tik_tok.columns

Index(['Subscribers', 'Views avg.', 'Likes avg.', 'Comments avg.',
       'Shares avg.', 'Rank', 'followers', 'views(avg)', 'likes(avg.)',
       'comments(avg.)', 'shares(avg.)', 'row-cell', '\nFollowers',
       'Views (Avg.)', 'Likes (Avg.)', 'Comments (Avg.)', 'Shares (Avg.)',
       'Subscribers count', 'Likes avg', 'Shares avg', 'Username'],
      dtype='object')

In [44]:
df_Tik_tok['Folowers \n Suscriptores'] = df_Tik_tok['Subscribers'].combine_first(df_Tik_tok['followers']).combine_first(df_Tik_tok['\nFollowers']).combine_first(df_Tik_tok['Subscribers count'])
df_Tik_tok.drop(['Subscribers', 'followers', '\nFollowers', 'Subscribers count'],axis=1, inplace=True)

In [45]:
df_Tik_tok['Likes'] = df_Tik_tok['Likes (Avg.)'].combine_first(df_Tik_tok['Likes avg']).combine_first(df_Tik_tok['Likes avg.']).combine_first(df_Tik_tok['likes(avg.)'])
df_Tik_tok.drop(['Likes (Avg.)', 'Likes avg', 'Likes avg.', 'likes(avg.)'],axis=1,inplace=True)

In [46]:
df_Tik_tok['Views'] = df_Tik_tok['Views (Avg.)'].combine_first(df_Tik_tok['Views avg.']).combine_first(df_Tik_tok['views(avg)'])
df_Tik_tok.drop(['Views (Avg.)', 'Views avg.', 'views(avg)'], axis=1, inplace=True)

In [47]:
df_Tik_tok['Shares'] = df_Tik_tok['Shares (Avg.)'].combine_first(df_Tik_tok['Shares avg']).combine_first(df_Tik_tok['Shares avg.']).combine_first(df_Tik_tok['shares(avg.)'])
df_Tik_tok.drop(['Shares (Avg.)', 'Shares avg', 'Shares avg.', 'shares(avg.)'], axis=1, inplace=True)

In [48]:
df_Tik_tok.head()

,Comments avg.,Rank,comments(avg.),row-cell,Comments (Avg.),Username,Folowers \n Suscriptores,Likes,Views,Shares
0,50.2K,NaN,NaN,NaN,NaN,Stray Kids,13.8M,2.3M,6.4M,34.2K
1,15.2K,NaN,NaN,NaN,NaN,Khabane lame,149.2M,2.3M,17.3M,8.7K
2,53.9K,NaN,NaN,NaN,NaN,scarlett,2.1M,845.8K,17.9M,6.3K
3,7.6K,NaN,NaN,NaN,NaN,Addison Rae,88.7M,906.6K,22M,26.2K
4,14.5K,NaN,NaN,NaN,NaN,Belinda,4.8M,1.5M,14.2M,15.3K

In [49]:
df_Tik_tok['Comments'] = df_Tik_tok['Comments (Avg.)'].combine_first(df_Tik_tok['Comments avg.']).combine_first(df_Tik_tok['comments(avg.)'])
df_Tik_tok.drop(['Comments (Avg.)', 'Comments avg.', 'comments(avg.)'], axis=1, inplace=True)

In [50]:
df_Tik_tok.drop(['Rank', 'row-cell'],axis=1,inplace=True)

In [51]:
df_Tik_tok.drop_duplicates()

              Username Folowers \n Suscriptores   Likes  Views Shares Comments
0           Stray Kids                    13.8M    2.3M   6.4M  34.2K    50.2K
1         Khabane lame                   149.2M    2.3M  17.3M   8.7K    15.2K
2             scarlett                     2.1M  845.8K  17.9M   6.3K    53.9K
3          Addison Rae                    88.7M  906.6K    22M  26.2K     7.6K
4              Belinda                     4.8M    1.5M  14.2M  15.3K    14.5K
...                ...                      ...     ...    ...    ...      ...
4003              zeth                    12.5M    1.3M   6.7M   7.7K       3K
4004  zodiac.boyfriend                     1.8M  272.7K   1.9M   3.6K     6.8K
4005       zowloficial                     1.1M  178.1K   1.4M   2.1K     1.4K
4006          zrt.foot                   100.8K    218K   2.3M   6.4K     1.7K
4007         zubarefff                       4M    249K   1.9M   1.6K     1.3K

[3947 rows x 6 columns]

In [52]:
df_Tik_tok=df_Tik_tok.dropna()

In [53]:
df_Tik_tok = df_Tik_tok.drop_duplicates()

In [54]:
df_Tik_tok.shape

(3945, 6)