In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import os
import shutil

Primero descomprimiremos el archivo que tiene los archivos csv

Utilizando la libreia shutil

shutil.unpack_archive('socialnetworks.zip', 'REDES_SOCIALES')

Lo que hicimos fue descomprimir el archivo con el nombre de REDES_SOCIALES

Ahora lo que haremos, sera recorrer los archivos que descomprimimos y buscamos los que tengan el año 2022

In [2]:
ruta_zip = 'socialnetworks.zip'
ruta_destino = '/home/moni/Ciencia de datos/Proyectos/CienciaDatosLasChicasSuperpoderosas/Proyectos/Unidad2'

#shutil.unpack_archive(ruta_zip,ruta_destino)
patron = r'2022'
archivos_econtrados_mes = []
archivos_econtrados_sin_mes = []

In [3]:
# Recoreremos cada carpeta

for carpeta, subcarpetas, archivos in os.walk(ruta_destino):
    for archivo in archivos:
        ruta_completa = os.path.join(carpeta, archivo)
        
        if archivo.endswith('.csv'):
            # Verificar si el archivo tiene una fecha en su nombre
            fecha_encontrada = re.search(patron, archivo)
            
            if fecha_encontrada:
                archivos_econtrados_mes.append(ruta_completa)
            else:
                archivos_econtrados_sin_mes.append(ruta_completa)

In [4]:
len(archivos_econtrados_mes)

12

In [5]:
len(archivos_econtrados_sin_mes)
archivos_econtrados_sin_mes

['/home/moni/Ciencia de datos/Proyectos/CienciaDatosLasChicasSuperpoderosas/Proyectos/Unidad2/socialnetworks/social media influencers - instagram.csv',
 '/home/moni/Ciencia de datos/Proyectos/CienciaDatosLasChicasSuperpoderosas/Proyectos/Unidad2/socialnetworks/social media influencers - youtube.csv',
 '/home/moni/Ciencia de datos/Proyectos/CienciaDatosLasChicasSuperpoderosas/Proyectos/Unidad2/socialnetworks/social media influencers - tiktok.csv']

Ya que tenemos los archivos separados en un arreglo, los podemos abrir en los dataframes que nos piden

In [6]:
Instagram = []
Patron_Insta = r'INSTAGRAM|instagram|Instagram'

Tik_tok = []
Patron_Tik_tok = r'TIKTOK|tiktok|Tiktok'

Youtube = []
Patron_Youtube = r'Youtube|youtube|YOUTUBE'

In [7]:
# Haremos una funcion que encuentre los patrones que le pasemos en unn arreglo
# Y los guarde en cierto arreglo, para que sea mas facil hacer los dataframes

def patrones(arreglo, patron, arreglo_para_guardar):
    for i in arreglo:
        r = re.search(patron, i)
        if r:
            arreglo_para_guardar.append(i)

In [8]:
patrones(archivos_econtrados_mes, Patron_Insta, Instagram)
patrones(archivos_econtrados_mes, Patron_Tik_tok, Tik_tok)
patrones(archivos_econtrados_mes, Patron_Youtube, Youtube)

Ya que tenemos todos los archivos de las redes socuales por separado, abriremos los dataframes que no tienen fecha

In [9]:
df_Insta_s_f = pd.read_csv(archivos_econtrados_sin_mes[0])
df_Tik_tok_s_f = pd.read_csv(archivos_econtrados_sin_mes[2])
df_Youtube_s_f = pd.read_csv(archivos_econtrados_sin_mes[1])

In [10]:
df_Insta_s_f.head()

,Influencer insta name,instagram name,category_1,category_2,Followers,Audience country(mostly),Authentic engagement\r\n,Engagement avg\r\n
0,433,433,Sports with a ball,NaN,48.5M,Spain,383.1K,637K
1,__youngbae__,TAEYANG,Music,NaN,12.7M,Indonesia,478K,542.3K
2,_agentgirl_,НАСТЯ ИВЛЕЕВА,Shows,NaN,18.8M,Russia,310.8K,377.9K
3,_imyour_joy,Joy,Lifestyle,NaN,13.5M,Indonesia,1.1M,1.4M
4,_jeongjaehyun,Jaehyun,NaN,NaN,11.1M,Indonesia,2.5M,3.1M

In [11]:
Instagram

['/home/moni/Ciencia de datos/Proyectos/CienciaDatosLasChicasSuperpoderosas/Proyectos/Unidad2/socialnetworks/social media influencers-instagram - -nov 2022.csv',
 '/home/moni/Ciencia de datos/Proyectos/CienciaDatosLasChicasSuperpoderosas/Proyectos/Unidad2/socialnetworks/social media influencers-instagram june 2022 - june 2022.csv',
 '/home/moni/Ciencia de datos/Proyectos/CienciaDatosLasChicasSuperpoderosas/Proyectos/Unidad2/socialnetworks/social media influencers-INSTAGRAM - -DEC 2022.csv',
 '/home/moni/Ciencia de datos/Proyectos/CienciaDatosLasChicasSuperpoderosas/Proyectos/Unidad2/socialnetworks/social media influencers - instagram sep-2022.csv']

In [12]:
dataframes = []
for ruta_archivo in Instagram:
    df = pd.read_csv(ruta_archivo)
    dataframes.append(df)

# Concatenar los DataFrames en un solo DataFrame
df_Insta = pd.concat(dataframes, axis=0, ignore_index=True)

# Verificar el DataFrame resultante
df_Insta.tail()

,s.no,Instagram Name,Name,Category-1,Followers,\nCountry,Eng. (Auth.),Eng. (Avg.),Category-2,Month,...,name,followers,country,S.no,Instagram name,Name,Subscribers,Audience country,Authentic engagement\n,Engagement average\r\n
4067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,September,...,NaN,NaN,NaN,996.0,jadethirlwall,jade amelia thirlwall,9.4M,United States,174.2K,228.1K
4068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,September,...,NaN,NaN,NaN,997.0,ninja,User Not Found,12.9M,United States,127.8K,163.9K
4069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,September,...,NaN,NaN,NaN,998.0,myriamfares,Myriam Fares,20.6M,Iraq,75.8K,102.4K
4070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,September,...,NaN,NaN,NaN,999.0,optimushwang,í™©ë¯¼í˜„,4.2M,South Korea,426K,508K
4071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,September,...,NaN,NaN,NaN,1000.0,syifahadjureal,Syifa Hadju,15.5M,Indonesia,110.2K,136.1K

In [13]:
# Limpieza del DataFrame de Instagram
    # Combinar las columnas que se refieren a la misma información y eliminar las que ya no se necesitan
#Username
df_Insta['Username'] = df_Insta['Instagram Name'].combine_first(df_Insta['instagram name']).combine_first(df_Insta['Instagram name'])
df_Insta = df_Insta.drop(['Instagram Name','instagram name','Instagram name'], axis=1)
#Name
df_Insta['Name'] = df_Insta['Name'].combine_first(df_Insta['influencer name ']).combine_first(df_Insta['name']).combine_first(df_Insta[' Name'])
df_Insta = df_Insta.drop(['influencer name ','name',' Name'], axis=1)
#Subscribers o Followers
df_Insta['Subscribers o Followers'] = df_Insta['Subscribers'].combine_first(df_Insta['Subscribers count']).combine_first(df_Insta['followers']).combine_first(df_Insta['Followers'])
df_Insta = df_Insta.drop(['Subscribers','Subscribers count','followers','Followers'], axis=1)
#Country
df_Insta['Country'] = df_Insta['Audience country'].combine_first(df_Insta['Views avg.']).combine_first(df_Insta['country']).combine_first(df_Insta['\nCountry'])
df_Insta = df_Insta.drop(['Audience country','Views avg.','country','\nCountry'], axis=1)
#Authentic
df_Insta['Authentic'] = df_Insta['Authentic engagement\n'].combine_first(df_Insta['Eng. (Auth.)']).combine_first(df_Insta['Likes avg'])
df_Insta = df_Insta.drop(['Authentic engagement\n','Eng. (Auth.)','Likes avg'], axis=1)
#Engagement
df_Insta['Engagement'] = df_Insta['Engagement average\r\n'].combine_first(df_Insta['Eng. (Avg.)']).combine_first(df_Insta['Comments avg.'])
df_Insta = df_Insta.drop(['Engagement average\r\n','Eng. (Avg.)','Comments avg.'], axis=1)
#Category1
df_Insta['Category1'] = df_Insta['Category-1'].combine_first(df_Insta['Category_1'])
df_Insta = df_Insta.drop(['Category-1','Category_1'], axis=1)
#Category2
df_Insta['Category2'] = df_Insta['Category-2'].combine_first(df_Insta['Category_2'])
df_Insta = df_Insta.drop(['Category-2','Category_2'], axis=1)
#Borrar datos inecesarios
df_Insta = df_Insta.drop(['s.no','S.no','Rank'], axis=1)

In [14]:
# Verificar el DataFrame de Instagram resultante
df_Insta

,Name,Month,Username,Subscribers o Followers,Country,Authentic,Engagement,Category1,Category2
0,Cristiano Ronaldo,November,cristiano,483.1M,India,4.5M,5.6M,Sports with a ball,NaN
1,Kylie ðŸ¤,November,kyliejenner,370M,United States,2.8M,4.4M,Fashion,Modeling
2,Leo Messi,November,leomessi,357.8M,Indonesia,3.2M,4.1M,Sports with a ball,Family
3,Ariana Grande,November,arianagrande,331.6M,United States,2.9M,4M,Music,NaN
4,Zendaya,November,zendaya,152.2M,United States,4.8M,6.5M,Cinema & Actors/actresses,Fashion
...,...,...,...,...,...,...,...,...,...
4067,jade amelia thirlwall,September,jadethirlwall,9.4M,United States,174.2K,228.1K,NaN,NaN
4068,User Not Found,September,ninja,12.9M,United States,127.8K,163.9K,Computers & Gadgets,Machinery & Technologies
4069,Myriam Fares,September,myriamfares,20.6M,Iraq,75.8K,102.4K,NaN,NaN
4070,í™©ë¯¼í˜„,September,optimushwang,4.2M,South Korea,426K,508K,Lifestyle,NaN
4071,Syifa Hadju,September,syifahadjureal,15.5M,Indonesia,110.2K,136.1K,Modeling,NaN

In [55]:
df_Insta=df_Insta.dropna()

In [56]:
df_Insta = df_Insta.drop_duplicates()

In [57]:
df_Insta.shape

(1168, 9)

In [15]:
dataframes = []
for ruta_archivo in Tik_tok:
    df = pd.read_csv(ruta_archivo)
    dataframes.append(df)

# Concatenar los DataFrames en un solo DataFrame
df_Tik_tok = pd.concat(dataframes, axis=0, ignore_index=True)

# Verificar el DataFrame resultante
df_Tik_tok.tail()

,row-cell,Tiktoker name,Tiktok name,\nFollowers,Views (Avg.),Likes (Avg.),Comments (Avg.),Shares (Avg.),Month,S.no,...,influencer name,Subscribers count,Likes avg,Shares avg,Rank,followers,views(avg),likes(avg.),comments(avg.),shares(avg.)
4002,NaN,jiembasands,Jiemba Sands,NaN,NaN,NaN,NaN,NaN,December,NaN,...,NaN,NaN,NaN,NaN,996.0,4.9M,3.4M,247.4K,207,264
4003,NaN,crissa_ace,Crissa Jackson,NaN,NaN,NaN,NaN,NaN,December,NaN,...,NaN,NaN,NaN,NaN,997.0,14.9M,1.6M,141.7K,1.2K,580
4004,NaN,ichadude,Alyssa & Dude,NaN,NaN,NaN,NaN,NaN,December,NaN,...,NaN,NaN,NaN,NaN,998.0,468.8K,2.3M,85.5K,997,1K
4005,NaN,kanebrown,Kane Brown,NaN,NaN,NaN,NaN,NaN,December,NaN,...,NaN,NaN,NaN,NaN,999.0,5.2M,1.7M,96.7K,1.3K,1.2K
4006,NaN,nnennab_,Nnenna B | NYC Creator & Actor,NaN,NaN,NaN,NaN,NaN,December,NaN,...,NaN,NaN,NaN,NaN,1000.0,149.1K,606.2K,79.5K,2.1K,6.1K

In [16]:
dataframes = []
for ruta_archivo in Youtube:
    df = pd.read_csv(ruta_archivo)
    dataframes.append(df)

# Concatenar los DataFrames en un solo DataFrame
df_Youtube = pd.concat(dataframes, axis=0, ignore_index=True)

# Verificar el DataFrame resultante
df_Youtube.tail()

,s.no,Youtube channel,youtuber name,Category,Followers,Country,\nViews (Avg.),Likes (Avg.),Comments (Avg.),Category-2,...,Avg. views\r\n,Avg. likes,Avg Comments,Category_3,channel name,youTuber,Subscribers count,Views avg.,Likes avg,Comments avg.
4066,NaN,NaN,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Power Vision,Power Vision,9.5M,137.3K,1.3K,39
4067,NaN,NaN,NaN,Music & Dance,NaN,United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,POPSVIETNAM,POPS MUSIC,9.5M,4.6K,144,5
4068,NaN,NaN,NaN,Fashion,NaN,United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Niki and Gabi,Niki and Gabi,9.5M,387.6K,17.8K,516
4069,NaN,NaN,NaN,Animation,NaN,United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Corridor,Corridor,9.5M,1.9M,141.6K,4.7K
4070,NaN,NaN,NaN,Animation,NaN,United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,JoshDub,JoshDub,9.5M,713.6K,35.4K,1.2K

In [17]:
# DataFrame sin limpieza
df_Youtube

,s.no,Youtube channel,youtuber name,Category,Followers,Country,\nViews (Avg.),Likes (Avg.),Comments (Avg.),Category-2,...,Avg. views\r\n,Avg. likes,Avg Comments,Category_3,channel name,youTuber,Subscribers count,Views avg.,Likes avg,Comments avg.
0,1.0,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,setindia,SET India,NaN,147.2M,India,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,MrBeast,MrBeast,Video games,117M,United States,68.5M,2.9M,99.9K,Humor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4066,NaN,NaN,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Power Vision,Power Vision,9.5M,137.3K,1.3K,39
4067,NaN,NaN,NaN,Music & Dance,NaN,United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,POPSVIETNAM,POPS MUSIC,9.5M,4.6K,144,5
4068,NaN,NaN,NaN,Fashion,NaN,United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Niki and Gabi,Niki and Gabi,9.5M,387.6K,17.8K,516
4069,NaN,NaN,NaN,Animation,NaN,United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Corridor,Corridor,9.5M,1.9M,141.6K,4.7K
4070,NaN,NaN,NaN,Animation,NaN,United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,JoshDub,JoshDub,9.5M,713.6K,35.4K,1.2K

In [18]:
# Limpieza de YouTube

# Username
df_Youtube['Username'] = df_Youtube['Youtuber'].combine_first(df_Youtube['channel name']).combine_first(df_Youtube['youTuber']).combine_first(df_Youtube['youtuber name']).combine_first(df_Youtube['Youtube channel'])

In [19]:
df_Youtube.drop(['Youtuber', 'channel name', 'youTuber','youtuber name','Youtube channel'],axis=1,inplace=True)

In [20]:
# Subscribers
df_Youtube['Subscribers'] = df_Youtube[' Subscribers'].combine_first(df_Youtube['Followers']).combine_first(df_Youtube['Subscribers count'])

In [21]:
df_Youtube.drop([' Subscribers', 'Followers', 'Subscribers count'],axis=1,inplace=True)

In [22]:
# Views
df_Youtube['Views'] = df_Youtube['Avg. views\r\n'].combine_first(df_Youtube['\nViews (Avg.)']).combine_first(df_Youtube['Views avg.'])

In [23]:
df_Youtube.drop(['Avg. views\r\n', '\nViews (Avg.)', 'Views avg.'],axis=1,inplace=True)

In [24]:
# Likes
df_Youtube['Likes'] = df_Youtube['Avg. likes'].combine_first(df_Youtube['Likes (Avg.)']).combine_first(df_Youtube['Likes avg'])

In [25]:
df_Youtube.drop(['Avg. likes', 'Likes (Avg.)', 'Likes avg'],axis=1,inplace=True)

In [26]:
# Comments
df_Youtube['Comments'] = df_Youtube['Avg Comments'].combine_first(df_Youtube['Comments (Avg.)']).combine_first(df_Youtube['Comments avg.'])

In [27]:
df_Youtube.drop(['Avg Comments', 'Comments (Avg.)', 'Comments avg.'],axis=1,inplace=True)

In [28]:
# Category1
df_Youtube['Category1'] = df_Youtube['Category'].combine_first(df_Youtube['Category_3'])

In [29]:
df_Youtube.drop(['Category', 'Category_3'],axis=1,inplace=True)

In [30]:
# Category2
df_Youtube['Category2'] = df_Youtube['Category_2'].combine_first(df_Youtube['Category-2'])

In [31]:
df_Youtube.drop(['Category_2', 'Category-2'],axis=1,inplace=True)

In [32]:
# Eliminacion de columnas que no queremos
df_Youtube.drop(['s.no', 'S.no'],axis=1,inplace=True)

In [33]:
df_Youtube

,Country,Month,Name,Username,Subscribers,Views,Likes,Comments,Category1,Category2
0,India,December,NaN,T-Series,229.5M,103.8K,2.8K,158,Music & Dance,NaN
1,India,December,NaN,SET India,147.2M,0,0,0,NaN,NaN
2,NaN,December,NaN,Cocomelon - Nursery Rhymes,146.6M,9.5M,48.3K,0,Education,NaN
3,United States,December,NaN,MrBeast,117M,68.5M,2.9M,99.9K,Video games,Humor
4,United States,December,NaN,PewDiePie,111.6M,1.4M,110.7K,7.8K,Animation,NaN
...,...,...,...,...,...,...,...,...,...,...
4066,United States,June,NaN,Power Vision,9.5M,137.3K,1.3K,39,NaN,NaN
4067,United States,June,NaN,POPSVIETNAM,9.5M,4.6K,144,5,Music & Dance,NaN
4068,United States,June,NaN,Niki and Gabi,9.5M,387.6K,17.8K,516,Fashion,Humor
4069,United States,June,NaN,Corridor,9.5M,1.9M,141.6K,4.7K,Animation,NaN
4070,United States,June,NaN,JoshDub,9.5M,713.6K,35.4K,1.2K,Animation,Humor

In [34]:
df_Youtube.isna().sum()

Country         527
Month             0
Name           3024
Username          0
Subscribers       0
Views             0
Likes             0
Comments          0
Category1      1656
Category2      2555
dtype: int64

In [35]:
# Seguimos con la limpieza...
df_Youtube=df_Youtube.dropna()

In [36]:
df_Youtube = df_Youtube.drop_duplicates()

In [37]:
# DATAFRAME LIMPIO
df_Youtube

,Country,Month,Name,Username,Subscribers,Views,Likes,Comments,Category1,Category2
2006,United States,September,MrBeast,MrBeast6000,104.1M,44.8M,2.2M,70.9K,Humor,Video games
2015,India,September,Sony SAB,sabtv,71.7M,61.7K,924,18,Animation,Movies
2024,United States,September,Movieclips,movieclips,57.8M,18.8K,181,11,Animation,Movies
2030,United States,September,EminemMusic,EminemMusic,53.3M,1.6M,90.6K,5.3K,Animation,Movies
2036,India,September,YRF,yrf,48.2M,67.2K,3.4K,19,Movies,Music & Dance
...,...,...,...,...,...,...,...,...,...,...
2950,United Kingdom,September,Miniminter,miniminter,10.2M,1.2M,77.1K,1.3K,Humor,Video games
2984,Brazil,September,Mari Maria,makebymarimaria,10M,78.7K,4.5K,170,DIY & Life Hacks,Fashion
2987,India,September,Shruti Arjun Anand,shrutiarjunanand,9.9M,616.6K,13.2K,625,Humor,Movies
2991,United States,September,QPark,joycetanner,9.9M,197.6K,13.8K,219,Humor,Music & Dance
2999,Indonesia,September,Ini Talk Show,IniTalkShow,9.9M,25.2K,290,17,Humor,Music & Dance

In [38]:
# Limpieza del DataFrame de Tiktok
df_Tik_tok['Username'] = df_Tik_tok['Tiktok name'].combine_first(df_Tik_tok['Tiktoker']).combine_first(df_Tik_tok['influencer name'])

In [39]:
df_Tik_tok.drop(['Tiktok name', 'Tiktoker', 'influencer name'],axis=1,inplace=True)

In [40]:
df_Tik_tok.head(2)

,row-cell,Tiktoker name,\nFollowers,Views (Avg.),Likes (Avg.),Comments (Avg.),Shares (Avg.),Month,S.no,Subscribers,...,Subscribers count,Likes avg,Shares avg,Rank,followers,views(avg),likes(avg.),comments(avg.),shares(avg.),Username
0,1.0,yossikramer,145.6K,26.8M,2.2M,30.1K,71.2K,November,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yossi
1,2.0,mrbeast,55.6M,38.1M,3.8M,19K,7.8K,November,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MrBeast

In [41]:
df_Tik_tok['Username'].combine_first(df_Tik_tok['Tiktoker name'])
df_Tik_tok.drop(['Tiktoker name'], axis=1, inplace=True)

In [42]:
df_Tik_tok.drop(['S.no'], axis=1,inplace=True)

In [43]:
df_Tik_tok.columns

Index(['row-cell', '\nFollowers', 'Views (Avg.)', 'Likes (Avg.)',
       'Comments (Avg.)', 'Shares (Avg.)', 'Month', 'Subscribers',
       'Views avg.', 'Likes avg.', 'Comments avg.', 'Shares avg.',
       'Subscribers count', 'Likes avg', 'Shares avg', 'Rank', 'followers',
       'views(avg)', 'likes(avg.)', 'comments(avg.)', 'shares(avg.)',
       'Username'],
      dtype='object')

In [44]:
df_Tik_tok['Folowers \n Suscriptores'] = df_Tik_tok['Subscribers'].combine_first(df_Tik_tok['followers']).combine_first(df_Tik_tok['\nFollowers']).combine_first(df_Tik_tok['Subscribers count'])
df_Tik_tok.drop(['Subscribers', 'followers', '\nFollowers', 'Subscribers count'],axis=1, inplace=True)

In [45]:
df_Tik_tok['Likes'] = df_Tik_tok['Likes (Avg.)'].combine_first(df_Tik_tok['Likes avg']).combine_first(df_Tik_tok['Likes avg.']).combine_first(df_Tik_tok['likes(avg.)'])
df_Tik_tok.drop(['Likes (Avg.)', 'Likes avg', 'Likes avg.', 'likes(avg.)'],axis=1,inplace=True)

In [46]:
df_Tik_tok['Views'] = df_Tik_tok['Views (Avg.)'].combine_first(df_Tik_tok['Views avg.']).combine_first(df_Tik_tok['views(avg)'])
df_Tik_tok.drop(['Views (Avg.)', 'Views avg.', 'views(avg)'], axis=1, inplace=True)

In [47]:
df_Tik_tok['Shares'] = df_Tik_tok['Shares (Avg.)'].combine_first(df_Tik_tok['Shares avg']).combine_first(df_Tik_tok['Shares avg.']).combine_first(df_Tik_tok['shares(avg.)'])
df_Tik_tok.drop(['Shares (Avg.)', 'Shares avg', 'Shares avg.', 'shares(avg.)'], axis=1, inplace=True)

In [48]:
df_Tik_tok.head()

,row-cell,Comments (Avg.),Month,Comments avg.,Rank,comments(avg.),Username,Folowers \n Suscriptores,Likes,Views,Shares
0,1.0,30.1K,November,NaN,NaN,NaN,Yossi,145.6K,2.2M,26.8M,71.2K
1,2.0,19K,November,NaN,NaN,NaN,MrBeast,55.6M,3.8M,38.1M,7.8K
2,3.0,10.9K,November,NaN,NaN,NaN,adin,5.4M,2M,16.6M,12.5K
3,4.0,6.9K,November,NaN,NaN,NaN,Daniel LaBelle,27.9M,1.7M,11.8M,29.3K
4,5.0,7.4K,November,NaN,NaN,NaN,HotSpanish,8.2M,1.7M,19.2M,9.5K

In [49]:
df_Tik_tok['Comments'] = df_Tik_tok['Comments (Avg.)'].combine_first(df_Tik_tok['Comments avg.']).combine_first(df_Tik_tok['comments(avg.)'])
df_Tik_tok.drop(['Comments (Avg.)', 'Comments avg.', 'comments(avg.)'], axis=1, inplace=True)

In [50]:
df_Tik_tok.drop(['Rank', 'row-cell'],axis=1,inplace=True)

In [51]:
df_Tik_tok.drop_duplicates()

,Month,Username,Folowers \n Suscriptores,Likes,Views,Shares,Comments
0,November,Yossi,145.6K,2.2M,26.8M,71.2K,30.1K
1,November,MrBeast,55.6M,3.8M,38.1M,7.8K,19K
2,November,adin,5.4M,2M,16.6M,12.5K,10.9K
3,November,Daniel LaBelle,27.9M,1.7M,11.8M,29.3K,6.9K
4,November,HotSpanish,8.2M,1.7M,19.2M,9.5K,7.4K
...,...,...,...,...,...,...,...
4002,December,Jiemba Sands,4.9M,247.4K,3.4M,264,207
4003,December,Crissa Jackson,14.9M,141.7K,1.6M,580,1.2K
4004,December,Alyssa & Dude,468.8K,85.5K,2.3M,1K,997
4005,December,Kane Brown,5.2M,96.7K,1.7M,1.2K,1.3K
4006,December,Nnenna B | NYC Creator & Actor,149.1K,79.5K,606.2K,6.1K,2.1K

In [52]:
df_Tik_tok=df_Tik_tok.dropna()

In [53]:
df_Tik_tok = df_Tik_tok.drop_duplicates()

In [54]:
df_Tik_tok.shape

(3974, 7)